In [1]:
import os
import pandas as pd
import csv

In [2]:
#Define the path to the CSV file located in the local Resources folder

bankfile = os.path.join(os.path.join('..', 'Resources', 'budget_data.csv'))

In [3]:
#Have file read as a pd file
bankfile_pd = pd.read_csv(bankfile)
bankfile_pd.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [4]:
# Display a statistical overview of the DataFrame
bankfile_pd.describe()

       Profit/Losses
count   8.600000e+01
mean    4.463090e+05
std     5.363579e+05
min    -1.196225e+06
25%     1.821620e+05
50%     5.703280e+05
75%     7.952262e+05
max     1.170593e+06

In [5]:
#Countnumber of months in total period
count = bankfile_pd["Date"].value_counts()
count

Feb-2014    1
Mar-2016    1
Feb-2016    1
Mar-2013    1
Nov-2010    1
           ..
Apr-2011    1
Dec-2016    1
Dec-2014    1
Feb-2015    1
Jul-2013    1
Name: Date, Length: 86, dtype: int64

In [6]:
# Store unique value for Total Months in a variable 
Total_Months = bankfile_pd["Date"].nunique()

In [7]:
# Store the net total amount of "Profit/Losses" over the entire period
Net_PL = bankfile_pd["Profit/Losses"].sum()

In [28]:
#create list with highest increase and largest decrease
#largest increase
bankfile_pd['Profit/Losses']=pd.to_numeric(bankfile_pd['Profit/Losses'])
bankfile_pd.info()
bankfile_pd['Profit/Losses'] = bankfile_pd['Profit/Losses'].diff()
print(bankfile_pd)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86 entries, 0 to 85
Data columns (total 2 columns):
Date             86 non-null object
Profit/Losses    83 non-null float64
dtypes: float64(1), object(1)
memory usage: 1.5+ KB
        Date  Profit/Losses
0   Jan-2010            NaN
1   Feb-2010            NaN
2   Mar-2010            NaN
3   Apr-2010            NaN
4   May-2010      -550487.0
..       ...            ...
81  Oct-2016      5816428.0
82  Nov-2016      1552481.0
83  Dec-2016     -5010459.0
84  Jan-2017      5027472.0
85  Feb-2017     -2596864.0

[86 rows x 2 columns]

In [32]:
bankfile_pd['Profit/Losses']=pd.to_numeric(bankfile_pd['Profit/Losses'])
bankfile_pd.info()
Avg_Mon_Change=bankfile_pd['Profit/Losses'].sum()
print (Avg_Mon_Change)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86 entries, 0 to 85
Data columns (total 2 columns):
Date             86 non-null object
Profit/Losses    86 non-null float64
dtypes: float64(1), object(1)
memory usage: 1.5+ KB
-121016276.0

In [36]:
# store the date and amount of max profit
Max_profit =bankfile_pd.max()
print(Max_profit)

Date                Sep-2016
Profit/Losses   -1.40717e+06
dtype: object

In [37]:
#store the date and amount of date of max loss
Max_loss = bankfile_pd.min()
print(Max_loss)

Date                Apr-2010
Profit/Losses   -1.40717e+06
dtype: object

In [38]:
#Print
print("Financial Analysis")
print("------------------------------------")
print(f"Total Months: {str(Total_Months)}")
print(f"Total: ${str(Net_PL)}")
print(f"Average Change: {str(Avg_Mon_Change)}")
print(f"Greatest Increase in Profits:{str(Max_profit)}")
print(f"Greatest Loss of Profit:{str(Max_loss)}")

Financial Analysis
------------------------------------
Total Months: 86
Total: $38382578
Average Change: -121016276.0
Greatest Increase in Profits:Date                Sep-2016
Profit/Losses   -1.40717e+06
dtype: object
Greatest Loss of Profit:Date                Apr-2010
Profit/Losses   -1.40717e+06
dtype: object