In [1]:
import os
import pandas as pd
import csv

In [8]:
#Define the path to the CSV file located in the local Resources folder

bankfile = os.path.join(os.path.join('..', 'Resources', 'budget_data.csv'))

In [9]:
#Have file read as a pd file
bankfile_pd = pd.read_csv(bankfile)
bankfile_pd.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [10]:
# Display a statistical overview of the DataFrame
bankfile_pd.describe()

       Profit/Losses
count   8.600000e+01
mean    4.463090e+05
std     5.363579e+05
min    -1.196225e+06
25%     1.821620e+05
50%     5.703280e+05
75%     7.952262e+05
max     1.170593e+06

In [15]:
#Countnumber of months in total period
count = bankfile_pd["Date"].value_counts()
count

May-2012    1
Jan-2015    1
Mar-2010    1
Apr-2010    1
Dec-2013    1
           ..
Oct-2010    1
Feb-2010    1
Jul-2010    1
May-2011    1
Apr-2015    1
Name: Date, Length: 86, dtype: int64

In [28]:
# Store unique value for Total Months in a variable 
Total_Months = bankfile_pd["Date"].nunique()

In [29]:
# Store the net total amount of "Profit/Losses" over the entire period
Net_PL = bankfile_pd["Profit/Losses"].sum()

In [70]:
#store the average change month over month
Change_Table = bankfile_pd['Profit/Losses'] - bankfile_pd['Profit/Losses'].shift(1)
Total = Change_Table.sum()
Avg_Mon_Change = (Total/Total_Months)

In [71]:
# store the date and amount of max profit
Max_profit = bankfile_pd["Profit/Losses"].max()
Date_of_max = bankfile_pd[bankfile_pd["Profit/Losses"] == Max_profit]["Date"].values[0]

In [72]:
#store the date and amount of date of max loss
Max_loss = bankfile_pd['Profit/Losses'].min()
Date_of_loss = bankfile_pd[bankfile_pd["Profit/Losses"] == Max_loss]["Date"].values[0]

In [73]:
#Print
print("Financial Analysis")
print("------------------------------------")
print(f"Total Months: {str(Total_Months)}")
print(f"Total: ${str(Net_PL)}")
print(f"Average Change: ${str(Avg_Mon_Change)}")
print(f"Greatest Increase in Profits:  {str(Date_of_max)}  ${str(Max_profit)}")
print(f"Greatest Loss of Profit: {str(Date_of_loss)} ${str(Max_loss)}")

Financial Analysis
------------------------------------
Total Months: 86
Total: $38382578
Average Change: $-2288.1976744186045
Greatest Increase in Profits:  Feb-2012  $1170593
Greatest Loss of Profit: Sep-2013 $-1196225